@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SISTEMA DE FACTURACION</h1><br/>
    <div class="row">
        <div class="col-md-3">
            <p>
                <a class="btn btn-primary btn-lg" href="~/Clientes/Index">CLIENTES &raquo;</a>
            </p>
        </div>
            <div class="col-md-3">
            <p>
                <a class="btn btn-primary btn-lg" href="~/Inventarios/Index">INVENTARIOS &raquo;</a>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <a class="btn btn-primary btn-lg" href="~/Productos/Index">PRODUCTOS &raquo;</a>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <a class="btn btn-primary btn-lg" href="~/Facturas/Index">FACTURACION &raquo;</a>
            </p>
        </div>
    </div>
</div>
